<%= warning %>

<div class="card text-center">
  <div class="card-body">
      <%= form_tag("/resul", method: "get") do %>
        <div class="form-group">
          <h1><%= label_tag(:title, "Nom du crypto") %></h1>
        </div>
        <div class="form-group">
          <%= text_field_tag(:crypto_name) %>
        </div>
      <div class="form-group">
        <%= submit_tag("Chercher") %>
      </div>
      <% end %>
  </div>
</div>

